

.container-chart-secondary{
    background-color: darkgoldenrod;
}

.container-flex-chart-secondary{
    display: flex;
    padding: 1rem;
}

.chart-left{
    width: calc(65% - 1.5rem);
}

.statistics-right{
    width: calc(35% - 1.5rem);
}